<h1>All Tasks</h1>

<div class="">
  <% @tasks.each do |task| %>
    <%= link_to(image_tag(task.image_path, alt: task.name), tasks_path) %>
    <%= task.name %><br>
    <%= task.description %><br>
    <%= task.hours %><br>
    <%= task.date %><br>
    <%= task.start_time %><br>
  <% end %>
</div>
