<div class="job-form">
  <%= form_for( :users_jobs, url: users_jobs_path ) do |f| %>
    <%= f.label "Upload resume" %> <br>
    <%= f.file_field :resume %> <br>
    <%= f.label "Cover letter (optional)" %> <br>
    <%= f.text_area :cover_letter, size: '40x20' %> <br>
    <%= f.hidden_field :job, value: @job.id %>
    <%= f.submit "Submit" %>
  <% end %>
</div>
