<div class="job-form">
  <%= form_for( @job, url: users_jobs_path ) do |f| %>
    <%= f.label :resume, placeholder: "Upload Resume" %> <br>
    <%= f.form_field :resume %> <br>
    <%= f.label :cover_letter, placeholder: "Cover Letter (optional)" %> <br>
    <%= f.text_area :cover_letter %> <br>
    <%= f.submit %>
  <% end %>
</div>
