<h1 class="dashboard-welcome">Create A Job</h1>
<div class="row">
  <div class="col s6 offset-s3">
    <div class="submissions_form">
      <%= form_for(@job, url: job_create_path) do |f| %>

      <%= f.text_field :title, placeholder: "Position Title" %>
      <%= f.text_field :department, placeholder: "Department" %>
      <%= f.text_field :years_of_experience, placeholder: "Requirements" %>
      <%= f.text_field :education, placeholder: "Education " %>
      <%= f.text_field :job_type, placeholder: "Job Type" %>
      <%= f.text_field :salary, placeholder: "Salary" %>
      <%= f.text_field :description, placeholder: "Description of Job" %>
      <%= f.hidden_field :company_id, value: @company_id %>
      <span>
        <%= f.submit "Create A Job", class:"slider-btn waves-effect waves-light btn"%>
      </span>

      <% end %>
    </div>
  </div>
</div>
