<h1>Create New Task</h1>

<%= form_for @task, url: {controller: 'admin/tasks', action: 'create'} do |f| %>
  <%= f.text_field :name, placeholder: "Name" %>
  <%= f.text_field :description, placeholder: "Description" %>
  <%= f.text_field :date, placeholder: "Date" %>
  <%= f.text_field :start_time, placeholder: "Start Time" %>
  <%= f.text_field :hours, placeholder: "Hours" %>
  <%= f.text_field :address, placeholder: "Street Address" %>
  <%= f.collection_select :city_id, City.all, :id, :name_and_state, { prompt: "Choose your City" }, class: "browser-default" %>
  <%= f.file_field :image %>

  <%= f.submit "Create this Task!" %>
<% end %>
