<h1 class="dashboard-welcome">Company <%= @company_name %> </h1>


<h1>Administration</h1>

<table class="highlight">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </tr>
  </thead>

    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
    </tr>
    <% end %>
</table>

<div class="center-align">
  <%= will_paginate @users %>
</div>
