<h1><%= @title %></h1>
<div class="row">
  <div class="col s6 offset-s3">
    <%= form_for @user do |f| %>
      <%= f.text_field :first_name, placeholder: "First Name" %>
      <%= f.text_field :last_name, placeholder: "Last Name" %>
      <%= f.text_field :email, placeholder: "Email" %>
      <%= f.password_field :password, placeholder: "Password" %>
      <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
      <%= f.hidden_field :company_id, :value => @company_id %>
      <span>
      <%= f.submit "CREATE ACCOUNT", method: :post, class:"slider-btn waves-effect waves-light btn" %>
    </span>
    <% end %>
  </div>
</div>
