<h1>Welcome Super <%= @current_user.first_name %></h1>

<div class="dashboard">
  <h4>Email: <%= @current_user.email %></h4>
  <h4>Super Admin </h4>
  <ul>
    <li><h6><%= link_to "Customer Inquiries", customer_inquiries_path %></h6></li>
    <li><h6><%= link_to "Company Applicants", submissions_status_path %></h6></li>
    <li><h6><%= link_to "Approved Companies", companies_approved_path %></h6></li>
    <li><h6><%= link_to "Denied Companies", companies_denied_path %></h6></li>
    <li><h6><%= link_to "Bunch of More Stuff2", '#' %></h6></li>
    <li><h6><%= link_to "Bunch of More Stuff3", '#' %></h6></li>
  </ul>

</div>
