<h1>Welcome to your Store, <%= @current_user.first_name %></h1>

<div class="dashboard">

  <h4>Email: <%= @current_user.email %></h4>
    <h6>Company name </h6>
    <li><h6><%= link_to "Create Job", create_company_jobs_path(@current_user.company_id) %></h6></li>
    <li><h6><%= link_to "View Company Jobs", store_jobs_path(@current_user.company_id) %></h6></li>

    <li><h6><%= link_to "Create Administrator", new_admin_user_path(@current_user.company_id) %></h6></li>
    <li><h6><%= link_to "Update Company Information", update_company_path(@current_user.company_id) %></h6></li>
    <li><h6><%= link_to "View Store Admins", view_store_admins_path(@current_user.company_id) %></h6></li>

     <h6>link to do something</h6>
     <h6>link to do something</h6>
     <h6>link to do something</h6>
     <h6>link to do something</h6>
     <h6>link to do something</h6>
     <h6>link to do something</h6>


</div>
