<h1>We would love to hear from you</h1>

<div class="row">
  <div class="col s6 offset-s3">
    <div class="contact_us_form">
      <%= form_for(@contact, url: contact_us_path) do |f| %>
        <%= f.text_field :first_name, placeholder: "First Name" %>
        <%= f.text_field :last_name, placeholder: "Last Name" %>
        <%= f.text_field :email, placeholder: "Email" %>
        <%= f.text_field :phone_number, placeholder: "Phone Number" %>
        <%= f.text_field :description, placeholder: "Talk to me! " %>

        <span>
          <%= f.submit "Submit", class:"slider-btn waves-effect waves-light btn" %>
        </span>

      <% end %>
    </div>
  </div>
</div>
