<div class="row">
  <% tasks.each do |task| %>
    <div class="col xs12 x6 m4 l3">
      <div class="card medium">
        <div class="card-image">
          <%= link_to( image_tag(task.image.url(:medium), alt: "Task Image"), task_path(task) ) %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= link_to task.name, task_path(task) %><i class="material-icons right">more_vert</i></span>
          <p><%= task.city.name %>, <%= task.city.state %></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Task Details<i class="material-icons right">close</i></span>
          <p><%= task.date %></p>
          <span class="start_time_plus_hours">
            About <%= task.hours %> Hour(s), starting at <%= task.display_time %>
          </span>
          <p><%= task.description %></p>
        </div>
        <div class="card-action">
          <% if !(task.pledged? || task.active?) %>
            <p><b>This task is <%= task.status %></b></p>
          <% elsif method == :post %>
            <%= link_to "Add to Cart", cart_tasks_path(task_id: task.id), method: method %>
          <% else %>
            <%= link_to "Remove from Cart", cart_task_path(task.id), method: method %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
