<div class="row">
  <% tasks.each do |task| %>
    <div class="col xs12 x6 m4 l3">
      <div class="card large">
        <div class="card-image">
            <!-- <img src="<%= task.image_path %>"> -->
            <%= link_to(image_tag(task.image_path, alt: task.image_path), task_path(task)) %>
        </div>
        <div class="card-content">
          <p><strong><%= task.name %></strong></p>
          <p><%= task.hours %> Hours</p>
          <p><%= task.description %></p>
          <p><%= task.date %></p>
          <p><%= task.start_time %></p>
        </div>
        <div class="card-action">
          <% if method == :post %>
            <%= link_to "Add to Cart", cart_tasks_path(task_id: task.id), method: method %>
          <% else %>
            <%= link_to "Remove from Cart", cart_task_path(task.id), method: method %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
