<h1 class='dashboard-welcome'>Active Companies </h1>
<h4 class='dashboard-sections left-align'>Stats</h4>
<div class="left-align">
  <p id="total-count">Total Active Companies: <%= @companies.count %></p>
</div>

<h4 class="dashboard-sections left-align">Listing</h4>

<% @companies.each do |company| %>
  <div class="row", id="active-companies-card">
    <div class="col s12 m12 l12 admin-company-title">
      <%= company.name %>
    </div>
    <div class="row">
      <div class="col s12 m4 l4">
          <%= image_tag(company.logo) %>
      </div>
    </div>
    <div class="col s12 m12 l12 admin-company-created-at">
      Company Active Since <%= company.created_at.strftime("%B %d, %Y") %>
    </div>
    <div class="col s12 m12 l12">
      <div class="row">
        <div class="col s12 m3 l3 admin-buttons">
          <%= link_to "CREATE JOB", create_company_jobs_path(company.id), class: "waves-effect waves-light btn admin-btn" %><br>
        </div>
        <div class="col s12 m3 l3 admin-buttons">
          <%= link_to "EDIT JOB", store_jobs_path(company.id), class: "waves-effect waves-light btn admin-btn"%><br>
        </div>
        <div class="col s12 m3 l3 admin-buttons">
          <%= link_to "VIEW JOBS", store_jobs_path(company.id),  class: "waves-effect waves-light btn admin-btn"%><br>
        </div>
        <div class="col s12 m3 l3 admin-buttons">
          <%= link_to "CREATE ADMIN", new_admin_user_path(company.id), class: "waves-effect waves-light btn admin-btn"%><br>
        </div>

        <div class="col s12 m4 l4 admin-buttons">
          <%= link_to "UPDATE COMPANY INFORMATION", update_company_path(company.id), class: "waves-effect waves-light btn admin-btn"%><br>
        </div>
        <div class="col s12 m4 l4 admin-buttons">
          <%= link_to "VIEW ADMINISTRATION STAFF", view_store_admins_path(company.id), class: "waves-effect waves-light btn admin-btn"%><br>
        </div>
        <div class="col s12 m4 l4 admin-buttons">
          <%= link_to "INACTIVATE COMPANY", inactivate_company_path(company.name), method: :patch, class: "waves-effect waves-light btn admin-btn"%><br>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="center-align">
  <%= will_paginate @companies %>
</div>
