<% present(@job) do |job_presenter| %>
  <h1><%= job_presenter.title %> at <%= job_presenter.company %></h1>
  <div class="job-show-container">
    <div class="row">
      <div class="col s12 l6">
        <!-- <%#= image_tag @task.image.url(:original), alt: "Tag Image", class: "task-image" %> -->
        <%= job_presenter.logo %>
        Placeholder
      </div>
      <div class="col s12 l6">
        <div class="card-panel teal lighten-2" id="job-text-box">
          <h4>Opportunity Details</h4>
          <p><b>Company:</b> <%= job_presenter.company %> </p>
          <p><b>Job Title:</b> <%= job_presenter.title %> </p>
          <p><b>Location:</b> <%= job_presenter.city %> </p>
          <br>
          <h4>Requirements</h4>
          <p><b>Education:</b> <%= job_presenter.education %> </p>
          <p><b>Years of Experience:</b> <%= job_presenter.experience %> year(s) </p>
          <p><b>Department:</b> <%= job_presenter.department %></p>
          <p><b>Salary:</b> <%= job_presenter.salary %> USD</p>
          <p><b>Description:</b> <%= job_presenter.description %></p>
          <br>

          <% if current_user %>
            <% if job_presenter.already_applied_for?(current_user) %>
            <button class = "btn tooltipped waves-effect waves-light btn teal lighten-3", id = "applied-button", data-position="bottom", data-tooltip="You have already applied for this job"> APPLIED </button>
            <% else %>
              <a class="modal-trigger waves-effect waves-light btn teal lighten-3" href="#modal1">APPLY</a>

              <div id="modal1" class="modal">
                <%= render partial: "job_form", locals: { job: job_presenter.job } %>
              </div>
            <% end %>
          <% else %>
            <%= link_to "LOGIN TO APPLY", login_path, class:"slider-btn waves-effect waves-light btn teal lighten-3" %>
          <% end %>

          <% if @favorites.has_job?(job_presenter.id) %>
            <%= link_to "UNFAVORITE", favorite_path(job_presenter.id), class:"slider-btn waves-effect waves-light btn teal lighten-3", method: :delete %>
          <% else %>
            <%= link_to "FAVORITE", favorites_path(job_id: job_presenter.id), class:"slider-btn waves-effect waves-light btn teal lighten-3", method: :post %>
         <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
